<section ng-controller="HomeController">
  <h1 align="center">A Constructive Logic Approach to System Value Assurance</h1>
    
    <p>The aim of this project is to develop and evaluate a new approach to system assurance: a modular approach, taking constructive logic as an organizing principal but replacing formal proof structures with more diverse forms of evidence, and logical judgements based on proofs with engineering judgments based on such evidence, to improve management of complex projects for stakeholder value. The approach is meant at least partly subsume dependability/safety properties and assurance as just one of multiple properties that ultimately contribute to system value and stakeholder satisfaction.</p>
  
</section>
