<section ng-controller="PropositionsController" ng-init="findOne()">
  <div class="page-header">
    <h2 ng-bind="proposition.thing.title"></h2>
    <h2 ng-bind="proposition.propcreator.title"></h2>
    <h2 ng-bind="proposition.evidences.title"></h2>
    <h2 ng-bind="proposition.judgements.title"></h2>
    <p ng-bind="proposition.title"></p>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == proposition.user._id">
    <a class="btn btn-primary" ui-sref="propositions.edit({propositionId: proposition._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>

    <a class="btn btn-primary" ui-sref="judgements.create({judgementId: judgements._id})">Add Judgement
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    
    <em class="text-muted">
      Posted on
      <span ng-bind="proposition.created | date:'mediumDate'"></span>
      by
      <span ng-bind="proposition.user.displayName"></span>
    </em>
  </small>

</section>
