<section ng-controller="EvidencesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="evidence.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == evidence.user._id">
    <a class="btn btn-primary" ui-sref="evidences.edit({evidenceId: evidence._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="evidence.created | date:'mediumDate'"></span>
      by
      <span ng-bind="evidence.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="evidence.content"></p>
</section>
