<section ng-controller="PropcreatorsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="propCreator.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == propCreator.user._id">
    <a class="btn btn-primary" ui-sref="propcreators.edit({propCId: propCreator._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="propCreator.created | date:'mediumDate'"></span>
      by
      <span ng-bind="propCreator.user.displayName"></span>
    </em>
  </small>
</section>
